body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
.description {
    white-space: pre-wrap;
  }
  
.time-block {
    text-align: center;
    border-radius: 15px;
  }
  
.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
.hour {
    background-color: #ffffff;
    color: #000000;
    border: .07rem dashed #000000;
    justify-content: center;
    padding: 1rem;
  }
  
.past {
    background-color: #d3d3d3;
    color: white;
  }
  
.present {
    background-color: #ff6961;
    color: white;
  }
  
.future {
    background-color: #77dd77;
    color: white;

  }
  
.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
    height: 5rem;
    content: icon;
    justify-content: center;
  }
  
.saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  
.input-area{
  border: 1rem;
  color: #000000;
  border: .1rem solid black;
  width: 45rem;
  max-width: 100%;
  overflow-x: scroll;
  height: 5rem;
  background: transparent;
}

.schedule{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  padding: 2rem;
}